/* YourComponent.css */

.board {
  border-radius: 1vw;
  border: 1px solid rgb(91, 52, 129);
  width: 90%;
  left: 5%;
  position: relative;
  top: 1vw;
}

.vertical-bar {
  display: flex;
  position: relative;
  width: 95%;
  left: 2.5%;
  /* background-color: #f0f0f0; Background color for the vertical bar */
  padding: 10px; /* Adjust the padding as needed */
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  margin-top: 1vw;
}

.field {
  color: rgb(91, 52, 129);
  font-size: 1.3vw;
  margin-bottom: 0.5vw; /* Adjust the margin between fields */
  margin-top: 0.5vw; /* Adjust the margin between fields */

  padding: 8px; /* Adjust the padding for each field */
  border: 1px solid #ddd; /* Add a border for each field */
  border-radius: 3px; /* Optional: Add border-radius for rounded corners */
  /* background-color: #fff; Background color for each field */
  border: 1px solid rgb(91, 52, 129);

}

.wrapper {

  text-align: center;
  width: 15%;
  align-items: center;
  padding-left: 2vw;
}

#fulfill {
  color: white;
  
}

button:hover {
  color:rgb(91, 52, 129);
  background-color: white;
}

#fulfill:hover{
  color:rgb(91, 52, 129);

  
}
/* Additional styling as needed */

#toggle {
  position: absolute;
  right: 1.25%;
}

#main{
  position: relative;
  top:1vw;
}


/*radio button*/

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}