/* Apply basic styling to form elements */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, textarea {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  /* Style the submit button */
  button {
    margin-top: 1vw;
    padding: 0.5vw;
    background-color: rgb(91 52 129);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(91, 52, 129);
  }
  
.checkmark {
  height: 1.5vw;

  accent-color: rgb(91, 52, 129);;
}



